/* Base styles for all microsites */
/* Can be overridden in _custom.scss */
.center {
  text-align: center;
}

// Fix for IMCE browser
.imce-folder-content {
  .file {
    display: block;
  }
}

/**
* For ckeditor bootstrap grid images.
*/
.two-col img,
.two-col-left img,
.two-col-right img,
.three-col img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Bootstrap Paragraphs. */
.paragraph--width--full.paragraph--type--bp-carousel {
  &.bp-carousel-height-small {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 20vw;
      }
    }  
  }
  &.bp-carousel-height-medium {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 30vw;
      }
    } 
  }
  &.bp-carousel-height-large {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 40vw;
      }
    }      
  }
  &.bp-carousel-height-exlarge {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 60vw;
      }
    }      
  }
}

.paragraph--type--xeno-hero {
  background-size: cover;
  &.small {
    height: 20vw;
    padding-top: 10vw;
    padding-bottom: 5vw;
  }
  &.medium {
    height: 30vw;
    padding-top: 15vw;
    padding-bottom: 10vw;
  }
  &.large {
    height: 40vw;
    padding-top: 20vw;
    padding-bottom: 15vw;
  }
  &.exlarge {
    height: 60vw;
    padding-top: 30vw;
    padding-bottom: 20vw;
  }
  &.huge {
    height: 80vw;
    padding-top: 40vw;
    padding-bottom: 25vw;
  }
  .field--name-field-height {
    display: none;
  }
}
