/* Base styles for all microsites */
/* Can be overridden in _custom.scss */
.center {
  text-align: center;
}

/**
* For ckeditor bootstrap grid images.
*/
.two-col img,
.two-col-left img,
.two-col-right img,
.three-col img {
  display: block;
  max-width: 100%;
  height: auto;
}

#navbar-collapse:not(.in) {
  #block-duson-search {
    max-width: 300px;
    min-width: 40px;
    overflow: hidden;
    padding: 8px 0 0 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: right;
    form {
      .form-search {
        display: none;
      }
      &:hover .form-search {
        display: inline-block;
      }
      .input-group-btn {
        width: 0;
        button.form-submit {
          margin: 0 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
/* Bootstrap Paragraphs. */

/* Paragraphs background colors */
.paragraph--color--primary,
.paragraph--color--secondary,
.paragraph--color--success,
.paragraph--color--info,
.paragraph--color--warning,
.paragraph--color--danger {
  background: transparent;
}

.paragraph--width--full.paragraph--type--bp-carousel {
  &.bp-carousel-height-small {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 20vw;
      }
    }  
  }
  &.bp-carousel-height-medium {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 30vw;
      }
    } 
  }
  &.bp-carousel-height-large {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 40vw;
      }
    }      
  }
  &.bp-carousel-height-exlarge {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 60vw;
      }
    }      
  }
}

.paragraph--type--xeno-hero {
  background-size: cover;
  &.small {
    height: 20vw;
  }
  &.medium {
    height: 30vw;
  }
  &.large {
    height: 40vw;
  }
  &.exlarge {
    height: 60vw;
  }
  &.huge {
    height: 80vw;
  }
}
