.center {
  text-align: center;
}
img {
  max-width: 100%;
}

.paragraph--type--xeno-hero__image {
  background-size: cover;
}

#navbar-collapse:not(.in) {
  #block-duson-search {
    max-width: 300px;
    min-width: 40px;
    overflow: hidden;
    padding: 8px 0 0 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: right;
    form {
      .form-search {
        display: none;
      }
      &:hover .form-search {
        display: inline-block;
      }
      .input-group-btn {
        width: 0;
        button.form-submit {
          margin: 0 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
#navbar {
  background-color: #00539B;
  a {
    color: #FFF;
    &:hover {
      color: #EEE;
    }
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.paragraph--width--full.paragraph--type--bp-carousel {
  &.bp-carousel-height-small {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 20vw;
      }
    }  
  }
  &.bp-carousel-height-medium {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 30vw;
      }
    } 
  }
  &.bp-carousel-height-large {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 40vw;
      }
    }      
  }
  &.bp-carousel-height-exlarge {
    .carousel-inner {
      .paragraph--type--xeno-hero {
        height: 60vw;
      }
    }      
  }
}


/**
* For ckeditor bootstrap grid images.
*/
.two-col img,
.two-col-left img,
.two-col-right img,
.three-col img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Paragraphs background colors */
.paragraph--color--primary,
.paragraph--color--secondary,
.paragraph--color--success,
.paragraph--color--info,
.paragraph--color--warning,
.paragraph--color--danger {
  background: transparent;
}
