/* Footer styles */
#footer-block {
  background-color: #00539B;
  padding: 2vw 0;
  color: #CCC;
  .footer-logo-img {
  }
  a {
    color: #FFF;
    &:hover {
      color: #EEE;
    }
  }
}

.staff-listing {
  .views-view-grid {
    .row {
      .person {
        padding: 0 0 20px 0;
      }
    }
  }
}
article.person {
  h1.title {
    margin-top: 0px;
  }
}